In [1]:
import requests
import pandas as pd 
import json

# Target URL
target_url = ('http://acnhapi.com/v1/bugs')

In [2]:
# Request the data from acnh api
bugs_json = requests.get(target_url).json()

# Test Type for successful request
type(bugs_json)

dict

In [3]:
# Explore the data
bugs_json.keys()

dict_keys(['common_butterfly', 'yellow_butterfly', 'tiger_butterfly', 'peacock_butterfly', 'common_bluebottle', 'paper_kite_butterfly', 'great_purple_emperor', 'monarch_butterfly', 'emperor_butterfly', 'agrias_butterfly', 'rajah_brookes_birdwing', 'queen_alexandras_birdwing', 'moth', 'atlas_moth', 'madagascan_sunset_moth', 'long_locust', 'migratory_locust', 'rice_grasshopper', 'grasshopper', 'cricket', 'bell_cricket', 'mantis', 'orchid_mantis', 'honeybee', 'wasp', 'brown_cicada', 'robust_cicada', 'giant_cicada', 'walker_cicada', 'evening_cicada', 'cicada_shell', 'red_dragonfly', 'darner_dragonfly', 'banded_dragonfly', 'damselfly', 'firefly', 'mole_cricket', 'pondskater', 'diving_beetle', 'giant_water_bug', 'stinkbug', 'man-faced_stink_bug', 'ladybug', 'tiger_beetle', 'jewel_beetle', 'violin_beetle', 'citrus_long-horned_beetle', 'rosalia_batesi_beetle', 'blue_weevil_beetle', 'dung_beetle', 'earth-boring_dung_beetle', 'scarab_beetle', 'drone_beetle', 'goliath_beetle', 'saw_stag', 'miyama_stag', 'giant_stag', 'rainbow_stag', 'cyclommatus_stag', 'golden_stag', 'giraffe_stag', 'horned_dynastid', 'horned_atlas', 'horned_elephant', 'horned_hercules', 'walking_stick', 'walking_leaf', 'bagworm', 'ant', 'hermit_crab', 'wharf_roach', 'fly', 'mosquito', 'flea', 'snail', 'pill_bug', 'centipede', 'spider', 'tarantula', 'scorpion'])

In [4]:
# keys for each bug
bugs_json['fly'].keys()

dict_keys(['id', 'file-name', 'name', 'availability', 'price', 'price-flick', 'catch-phrase', 'museum-phrase', 'image_uri', 'icon_uri'])

In [5]:
# Cell for calling specific availabilities, or examining other info
bugs_json['rosalia_batesi_beetle']['availability']

{'month-northern': '5-9',
 'month-southern': '11-3',
 'time': '',
 'isAllDay': True,
 'isAllYear': False,
 'location': 'On tree stumps',
 'rarity': 'Uncommon',
 'month-array-northern': [5, 6, 7, 8, 9],
 'month-array-southern': [11, 12, 1, 2, 3],
 'time-array': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23]}

In [6]:
# Create dictionary with sell price for each bug
bugPrice = {}

for bug in bugs_json:
    bugPrice[str(bug)] = {'price': bugs_json[str(bug)]['price']}

In [7]:
# Convert dict to dataframe to more easily visualize
bugPrice_df = pd.DataFrame(bugPrice).swapaxes('index', 'columns')
bugPrice_df

                   price
common_butterfly     160
yellow_butterfly     160
tiger_butterfly      240
peacock_butterfly   2500
common_bluebottle    300
...                  ...
pill_bug             250
centipede            300
spider               480
tarantula           8000
scorpion            8000

[80 rows x 1 columns]

In [11]:
# I want to isolate a particular index line
bugPrice_df.loc['stinkbug']

price    120
Name: stinkbug, dtype: int64

In [15]:
# Checking the stinkbug entry; caught one on 8/17/22 at 9p on yellow daffodils, wondered what it's metrics were
bugs_json['stinkbug']

{'id': 41,
 'file-name': 'stinkbug',
 'name': {'name-USen': 'stinkbug',
  'name-EUen': 'stinkbug',
  'name-EUde': 'Stinkwanze',
  'name-EUes': 'chinche',
  'name-USes': 'chinche',
  'name-EUfr': 'punaise',
  'name-USfr': 'punaise',
  'name-EUit': 'cimice',
  'name-EUnl': 'schildwants',
  'name-CNzh': '椿象',
  'name-TWzh': '椿象',
  'name-JPja': 'カメムシ',
  'name-KRko': '노린재',
  'name-EUru': 'щитник'},
 'availability': {'month-northern': '3-10',
  'month-southern': '9-4',
  'time': '',
  'isAllDay': True,
  'isAllYear': False,
  'location': 'On flowers',
  'rarity': 'Common',
  'month-array-northern': [3, 4, 5, 6, 7, 8, 9, 10],
  'month-array-southern': [9, 10, 11, 12, 1, 2, 3, 4],
  'time-array': [0,
   1,
   2,
   3,
   4,
   5,
   6,
   7,
   8,
   9,
   10,
   11,
   12,
   13,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   23]},
 'price': 120,
 'price-flick': 180,
 'catch-phrase': 'I caught a stinkbug! It lives up to its name!',
 'museum-phrase': 'I daresay the name says it all... Stinkbugs are known for their stench. Hoo! Peeyew! As it happens, these crop-eating pests use straw-like mouths to pierce plants and drink the juices. And when threatened, they use a smelly chemical in their belly to release their odious odor! Hoo! How DO they live with themselves?',
 'image_uri': 'https://acnhapi.com/v1/images/bugs/41',
 'icon_uri': 'https://acnhapi.com/v1/icons/bugs/41'}

In [16]:
bugs_json['walking_leaf']

{'id': 67,
 'file-name': 'walking_leaf',
 'name': {'name-USen': 'walking leaf',
  'name-EUen': 'walking leaf',
  'name-EUde': 'Blattschrecke',
  'name-EUes': 'insecto hoja',
  'name-USes': 'insecto hoja',
  'name-EUfr': 'phyllie',
  'name-USfr': 'phyllie',
  'name-EUit': 'insetto foglia',
  'name-EUnl': 'wandelend blad',
  'name-CNzh': '叶竹节虫',
  'name-TWzh': '葉竹節蟲',
  'name-JPja': 'コノハムシ',
  'name-KRko': '잎사귀벌레',
  'name-EUru': 'листотел'},
 'availability': {'month-northern': '7-9',
  'month-southern': '1-3',
  'time': '',
  'isAllDay': True,
  'isAllYear': False,
  'location': 'Under trees',
  'rarity': 'Uncommon',
  'month-array-northern': [7, 8, 9],
  'month-array-southern': [1, 2, 3],
  'time-array': [0,
   1,
   2,
   3,
   4,
   5,
   6,
   7,
   8,
   9,
   10,
   11,
   12,
   13,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   23]},
 'price': 600,
 'price-flick': 900,
 'catch-phrase': 'I caught a walking leaf! It seems to be taking it in stride!',
 'museum-phrase': 'What a fraud! What a phony! The walking leaf is, in fact, the very embodiment of a lie! This master mimic looks like a tree leaf all the way down to the tiniest details. In fact, this bug has been known to sway to and fro as it walks...just so it looks like a leaf blown by the wind! And the fakery works! These insects look so much like leaves that even leaf-eating insects nibble on them! Lying liars, indeed!',
 'image_uri': 'https://acnhapi.com/v1/images/bugs/67',
 'icon_uri': 'https://acnhapi.com/v1/icons/bugs/67'}

In [8]:
# Which bugs are the most valuable
bugPrice_df.sort_values('price', ascending=False).head(25)

                           price
horned_hercules            12000
giraffe_stag               12000
golden_stag                12000
scarab_beetle              10000
giant_stag                 10000
scorpion                    8000
horned_elephant             8000
horned_atlas                8000
tarantula                   8000
cyclommatus_stag            8000
goliath_beetle              8000
rainbow_stag                6000
banded_dragonfly            4500
queen_alexandras_birdwing   4000
emperor_butterfly           4000
atlas_moth                  3000
rosalia_batesi_beetle       3000
dung_beetle                 3000
great_purple_emperor        3000
agrias_butterfly            3000
wasp                        2500
madagascan_sunset_moth      2500
rajah_brookes_birdwing      2500
peacock_butterfly           2500
orchid_mantis               2400

In [9]:
# Add locations to bug price df
locations = []
for bug in bugs_json:
    locations.append(bugs_json[bug]['availability']['location'])


bugPrice_df['location'] = locations

bugPrice_df

                   price                    location
common_butterfly     160                      Flying
yellow_butterfly     160                      Flying
tiger_butterfly      240                      Flying
peacock_butterfly   2500  Flying near hybrid flowers
common_bluebottle    300                      Flying
...                  ...                         ...
pill_bug             250               Hitting rocks
centipede            300               Hitting rocks
spider               480               Shaking trees
tarantula           8000               On the ground
scorpion            8000               On the ground

[80 rows x 2 columns]

In [10]:
# Average bug price
bugPrice_df['price'].median()

575.0

In [11]:
# Bug Locations
bugPrice_df["location"].unique()

array(['Flying', 'Flying near hybrid flowers', 'Flying by light',
       'On trees', 'On the ground', 'On flowers', 'On white flowers',
       'Shaking trees', 'Flying (near water)', 'Underground',
       'On ponds and rivers', 'On tree stumps', 'On palm trees',
       'Under trees', 'On rotten food', 'On the beach', 'On beach rocks',
       'Near trash', 'On villagers', 'On rocks and bush (when raining)',
       'Hitting rocks'], dtype=object)

In [12]:
# Dataframe with average price for each location
bugLocations_df = bugPrice_df.groupby(["location"]).mean(["price"]).sort_values("price", ascending=False)
bugLocations_df

                                        price
location
On palm trees                     8600.000000
Flying near hybrid flowers        2500.000000
On trees                          2410.666667
On white flowers                  2400.000000
On the ground                     2065.454545
On tree stumps                    1550.000000
Flying                            1485.555556
Shaking trees                     1193.333333
On the beach                      1000.000000
On ponds and rivers                976.666667
Under trees                        600.000000
Underground                        500.000000
On flowers                         437.500000
Flying (near water)                300.000000
Hitting rocks                      275.000000
On rocks and bush (when raining)   250.000000
On beach rocks                     200.000000
Flying by light                    130.000000
On rotten food                      80.000000
On villagers                        70.000000
Near trash                          60.000000

In [13]:
# Which bugs are found on palm trees?
palmBugs_df = bugPrice_df.loc[bugPrice_df['location'] == "On palm trees"].sort_values("price", ascending=False)
palmBugs_df

                    price       location
golden_stag         12000  On palm trees
giraffe_stag        12000  On palm trees
horned_hercules     12000  On palm trees
goliath_beetle       8000  On palm trees
cyclommatus_stag     8000  On palm trees
horned_atlas         8000  On palm trees
horned_elephant      8000  On palm trees
blue_weevil_beetle    800  On palm trees

In [14]:
# add rarity, month-northern, and time to palmBugs df using pd.at[]
for bug in palmBugs_df.index:
    print(bug)
    palmBugs_df.at[bug, 'rarity'] = bugs_json[bug]['availability']['rarity']
    palmBugs_df.at[bug, 'month-northern'] = bugs_json[bug]['availability']['month-northern']
    palmBugs_df.at[bug, 'time'] = bugs_json[bug]['availability']['time']

golden_stag
giraffe_stag
horned_hercules
goliath_beetle
cyclommatus_stag
horned_atlas
horned_elephant
blue_weevil_beetle

In [15]:
# Print the updated df
palmBugs_df

                    price       location      rarity month-northern       time
golden_stag         12000  On palm trees  Ultra-rare            7-8  5pm - 8am
giraffe_stag        12000  On palm trees  Ultra-rare            7-8  5pm - 8am
horned_hercules     12000  On palm trees  Ultra-rare            7-8  5pm - 8am
goliath_beetle       8000  On palm trees  Ultra-rare            6-9  5pm - 8am
cyclommatus_stag     8000  On palm trees  Ultra-rare            7-8  5pm - 8am
horned_atlas         8000  On palm trees  Ultra-rare            7-8  5pm - 8am
horned_elephant      8000  On palm trees  Ultra-rare            7-8  5pm - 8am
blue_weevil_beetle    800  On palm trees      Common            7-8

In [16]:
# Which bugs are on trees?
treeBugs_df = bugPrice_df.loc[bugPrice_df['location'] == "On trees"].sort_values("price", ascending=False)

for bug in treeBugs_df.index:
    treeBugs_df.at[bug, 'rarity'] = bugs_json[bug]['availability']['rarity']
    treeBugs_df.at[bug, 'month-northern'] = bugs_json[bug]['availability']['month-northern']
    treeBugs_df.at[bug, 'time'] = bugs_json[bug]['availability']['time']

treeBugs_df

,price,location,rarity,month-northern,time
scarab_beetle,10000,On trees,Rare,7-8,11pm - 8am
giant_stag,10000,On trees,Rare,7-8,11pm - 8am
rainbow_stag,6000,On trees,Rare,6-9,7pm - 8am
atlas_moth,3000,On trees,Uncommon,4-9,7pm - 4am
saw_stag,2000,On trees,Common,7-8,
horned_dynastid,1350,On trees,Common,7-8,5pm - 8am
miyama_stag,1000,On trees,Common,7-8,
walking_stick,600,On trees,Uncommon,7-11,4am - 8am & 5pm - 7pm
evening_cicada,550,On trees,Common,7-8,4am - 8am & 4pm - 7pm
giant_cicada,500,On trees,Uncommon,7-8,8am - 5pm
walker_cicada,400,On trees,Common,8-9,8am - 5pm
robust_cicada,300,On trees,Common,7-8,8am - 5pm
brown_cicada,250,On trees,Common,7-8,8am - 5pm
drone_beetle,200,On trees,Common,6-8,
cicada_shell,10,On trees,Rare,7-8,

In [17]:
# Which bugs are on hybrid flowers?
hybridBugs_df = bugPrice_df.loc[bugPrice_df['location'] == "Flying near hybrid flowers"].sort_values("price", ascending=False)

for bug in hybridBugs_df.index:
    hybridBugs_df.at[bug, 'rarity'] = bugs_json[bug]['availability']['rarity']
    hybridBugs_df.at[bug, 'month-northern'] = bugs_json[bug]['availability']['month-northern']
    hybridBugs_df.at[bug, 'time'] = bugs_json[bug]['availability']['time']

hybridBugs_df

,price,location,rarity,month-northern,time
peacock_butterfly,2500,Flying near hybrid flowers,Uncommon,3-6,4am - 7pm

In [18]:
# Which bugs are on stumps?
stumpBugs_df = bugPrice_df.loc[bugPrice_df['location'] == "On tree stumps"].sort_values("price", ascending=False)

for bug in stumpBugs_df.index:
    stumpBugs_df.at[bug, 'rarity'] = bugs_json[bug]['availability']['rarity']
    stumpBugs_df.at[bug, 'month-northern'] = bugs_json[bug]['availability']['month-northern']
    stumpBugs_df.at[bug, 'time'] = bugs_json[bug]['availability']['time']

stumpBugs_df

                           price        location    rarity month-northern time
rosalia_batesi_beetle       3000  On tree stumps  Uncommon            5-9
jewel_beetle                2400  On tree stumps  Uncommon            4-8
violin_beetle                450  On tree stumps    Common     5-6 & 9-11
citrus_long-horned_beetle    350  On tree stumps    Common

In [19]:
# Which bugs are from shaken trees?
shakingBugs_df = bugPrice_df.loc[bugPrice_df['location'] == "Shaking trees"].sort_values("price", ascending=False)

for bug in shakingBugs_df.index:
    shakingBugs_df.at[bug, 'rarity'] = bugs_json[bug]['availability']['rarity']
    shakingBugs_df.at[bug, 'month-northern'] = bugs_json[bug]['availability']['month-northern']
    shakingBugs_df.at[bug, 'time'] = bugs_json[bug]['availability']['time']

shakingBugs_df

         price       location  rarity month-northern       time
wasp      2500  Shaking trees  Common
bagworm    600  Shaking trees  Common
spider     480  Shaking trees  Common                 7pm - 8am